<meta name="viewport" content="width=device-width, initial-scale=1.0">

<hr>
<div align="center">
	<footer class="footer" style="color:white">
    <p>Altyapı: <a href="http://tunahanyavuz.com.tr">Yvz | Playboy</a> | Tasarım:  <a href="https://discord.gg/ZBeYcU">Tüm Hakları Saklıdır. </a> | <a href="#top">Üste Çık</a></p>
	</footer>
</div>